---
import BaseLayout from "../layouts/BaseLayout.astro";
import Paragraph from "../components/Paragraph.astro";
import Section from "../components/Section.astro";
import { SECTIONS } from "../content/sections";
---

<BaseLayout title="Will Colton's Side Project Museum">
  <Paragraph
    text="Welcome to my space. Let me tell you about some of the stuff I have worked on."
  />
  <Paragraph
    text="To those visiting hoping to find a resume, be warned this site is more of a narrative than a straightforward resume."
  />
  <div>
    <a
      href="/tldr"
      class="cursor-pointer font-bold text-stone-600 hover:underline">TL;DR</a
    >
  </div>
  {SECTIONS.map((s) => <Section section={s} />)}
  <div class="mt-20 mb-12 text-center text-xl text-stone-800">
    Thanks for stopping by!
  </div>
</BaseLayout>
