---
import Wkc from "./svgs/Wkc.astro";
import Github from "./svgs/Github.astro";
---

<header
  class="mb-10 flex items-center justify-between border-b border-stone-100 px-4 py-3 text-base"
>
  <a href="/" class="flex items-center">
    <Wkc class="inline h-8 w-8 align-middle" />
    <span
      class="text-l hidden pl-2 align-middle font-black text-stone-700 sm:inline"
    >
      Will Colton's Side Project Museum
    </span>
  </a>
  <nav class="flex p-0">
    <a
      href="https://github.com/coltonw"
      class="block rounded px-2 py-1 text-stone-600 hover:text-stone-700"
      aria-label="Github"
    >
      <Github class="h-6 w-6" />
    </a>
  </nav>
</header>
