---
import Wkc from './svgs/Wkc.astro';
import Github from './svgs/Github.astro';
---

<header
  class="mb-10 flex items-center justify-between px-4 py-3 text-base border-b-2 border-stone-200"
>
  <a href="/" class="flex items-center">
    <Wkc class="w-8 h-8 inline align-middle" />
    <span class="align-middle hidden sm:inline pl-2 text-l font-black text-stone-700">
      Will Colton's Side Project Museum
    </span>
  </a>
  <nav class="flex p-0">
    <a
      href="https://github.com/coltonw"
      class="block px-2 py-1 text-stone-600 rounded hover:text-stone-700"
      aria-label="Github"
    >
      <Github class="h-6 w-6" />
    </a>
  </nav>
</header>
